#root {
  max-width: 64rem;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.controls {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}
.forms {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.form {
  max-width: 50%;
}
.form__inner {
  display: flex;
  flex-direction: column;
  /* gap: 0.5em; */
  padding: 0.5em 0;
}
.field {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}
.field__label {
  flex: 0 0 30%;
  padding-top: 0.3em;
  display: inline-block;
  text-align: right;
}
.field__info {
  flex: 1 0 60%;
}
.field__input {
  font-size: 1em;
  padding: 0.5em;
  display: inline-block;
  width: 100%;
  border: 2px solid gray;
  border-radius: 10px;
  box-sizing: border-box;
}
.field__radio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.3em;
  gap: 1.5em;

  & > label {
    display: inline-block;
    line-height: 1.6;
  }
}
.field__checkbox {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 0.3em;
  gap: 1.5em;
}
.field__error {
  width: 100%;
  opacity: 0;
  min-height: auto;
  text-align: left;
}
.field__error-show {
  opacity: 1;
  color: red;
}
.tiles {
}
.tile {
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
