:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  --color-text-primary: #f2f2f3;
  --color-text-secondary: #a0a0a5;
  --color-text-error: #ff6b6b;
  --color-link: #66b2ff;
  --color-link-hover: #3399ff;

  /* Backgrounds */
  --color-bg: #121214;
  --color-surface: #1e1e21;

  /* Borders & Dividers */
  --color-border: #2a2a2d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  box-sizing: border-box;
  color: var(--color-text-primary);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0.1em 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button,
input {
  border-radius: 8px;
  border: 1px solid var(--color-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-surface);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-link-hover);
}

input:focus,
button:focus,
button:focus-visible {
  outline: 3px solid var(--color-link);
  outline-offset: 2px;
  border-radius: 6px;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  border: 2px solid var(--color-border);
  background: var(--color-surface);
  padding: 0.5em;
  transition: 0.4s;
}
select:hover,
select:focus {
  background: var(--color-border);
}
select::picker-icon {
  color: var(--color-text-secondary);
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
::picker(select) {
  border: none;
}
option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  border: 2px solid var(--color-border);
  background: var(--color-surface);
  padding: 10px;
  transition: 0.4s;
}
option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:hover,
option:focus {
  background: var(--color-border);
}
option .icon {
  font-size: 1.6rem;
  text-box: trim-both cap alphabetic;
}
selectedcontent .icon {
  display: none;
}
option:checked {
  font-weight: bold;
}
option::checkmark {
  order: 1;
  margin-left: auto;
  content: '☑️';
}
::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete;
}
::picker(select):popover-open {
  opacity: 1;
}
@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}
::picker(select) {
  top: anchor(top);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text-primary: #1c1c1e;
    --color-text-secondary: #6e6e73;
    --color-text-error: #d93025;
    --color-link: #0066cc;
    --color-link-hover: #004a99;

    /* Backgrounds */
    --color-bg: #f9f9fb;
    --color-surface: #ebebf0;

    /* Borders & Dividers */
    --color-border: #d4d4d7;
  }
  button {
    background-color: #f9f9f9;
  }
}
