#root {
  width: 60rem;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-rows: 4rem 1fr;
  text-align: center;
}

.header {
  padding: 0.5rem 1rem;
  gap: 5rem;
  border-bottom: 1px solid gray;
  & form {
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 2rem;
  }
}

.content {
  border: 1px solid gray;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content_books-list {
}

.content_book {
  display: flex;
  border: 1px solid gray;
}
