#root {
  width: 60rem;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-rows: 4rem 1fr;
  text-align: center;
}

.header {
  padding: 0.5rem 1rem;
  gap: 5rem;
  border-bottom: 3px solid gray;
  & form {
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 2rem;
  }
}

.content {
  height: 100%;
  padding: 0 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content_books-list {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 30% 70%;
}

.content_book {
  display: contents;
  text-align: left;
  width: 100%;
  & * {
    border-bottom: 1px solid dimgray;
    padding: 2em;
    padding-left: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
