:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root[data-theme='dark'] {
  --text: #ffffffde;
  --bg: #242424;
  --bg-accent: #808080;
  --border: #808080;
  --button-border: #808080;
  --scrollbar-track: #ffffffde;
}
:root[data-theme='light'] {
  --text: #213547;
  --bg: #f9f9f9;
  --bg-accent: #d1d1d1;
  --border: #a1a1a1;
  --button-border: transparent;
  --scrollbar-track: #d1d1d1;
}

* {
  box-sizing: border-box;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--border) var(--scrollbar-track);
}

body {
  color: var(--text);
  background-color: var(--bg);
  scrollbar-color: var(--bg-accent);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

body,
ul,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input,
button {
  border-radius: 8px;
  border: 1px solid var(--button-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--text);
  background-color: var(--bg-accent);
}

button {
  &:disabled {
    background-color: transparent;
  }

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  :focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
