#root {
  width: 80rem;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-rows: 4rem 1fr;
  gap: 1em;
  text-align: center;
}

.header {
  padding: 0.5em 2em;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    margin-right: auto;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
    &:hover {
      color: var(--link-hover);
    }
  }

  & form {
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 2em;
  }

  & > button:first-of-type {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;

    &:hover {
      color: var(--link-hover);
    }

    &:focus,
    :focus-visible {
      outline: none;
    }
  }
}

.content {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.books-list__wrapper {
  overflow: hidden;
  height: 100%;
  flex: 1 1 50%;
}

.books-list {
  height: 90%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 7% 30% 63%;
  align-content: start;
}

.books-list__header {
  display: contents;
}

.books-list__title {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0.3em 0;
  background-color: var(--bg-accent);
  border-bottom: 3px solid var(--border);
  font-size: 1.1rem;
}

.book {
  display: contents;
  text-align: left;

  & p {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 1em 0.5em 0.5em 1.5em;
    background-color: inherit;

    & span {
      display: block;
      flex: 1 1 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.book__checkbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & input[type='checkbox'] {
    accent-color: var(--link);
    width: 20px;
    height: 20px;
  }
}

.book__link {
  display: contents;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    & p {
      background-color: var(--bg-accent);
    }
  }
}

.book__link--active {
  background-color: var(--bg-accent);
  & p {
    background-color: var(--bg-accent);
  }
}

.book-description {
  height: 100%;
  flex: 0 0 50%;
  padding-top: 1px;
  padding-right: 1em;
  display: flex;
  flex-direction: column;

  & > h2,
  h3,
  h4,
  h5 {
    margin-top: 0;
  }

  & > p:last-of-type {
    overflow-y: auto;
    padding: 1em 0 0 2em;
    text-align: left;
    text-wrap: balance;
  }
}

.book-description__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  & button {
    color: var(--link);
    font-size: 1.8em;
    padding: 0 0.4em;
  }
  & > a,
  button {
    background-color: transparent;
    align-self: flex-end;
  }
}

.pagination {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1em;
  position: sticky;
  bottom: 0;
  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    &:first-of-type {
      margin-left: auto;
    }
  }
}

.pagination__arrow {
  line-height: 1;
  vertical-align: middle;
}

.pagination__action {
  margin-left: auto;
  display: flex;
  gap: 1em;
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.5s ease;
  text-wrap: nowrap;
}

.pagination__action-show {
  max-width: 300px;
}

.about {
  & h3 {
    margin-top: 3em;
  }

  & a:last-of-type {
    display: inline-flex;
    gap: 1em;
  }

  & button {
    display: block;
    margin: 3em auto;
  }
}

.logo {
  width: 10rem;
  aspect-ratio: 1/1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #ffda1f;

  & img {
    height: 80%;
    width: auto;
    object-fit: cover;
  }
}
